<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <h1>About Page</h1>
    <a href="/">Go To Home Page</a>

    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis autem
      asperiores reprehenderit beatae voluptas praesentium minima aperiam culpa,
      a commodi, expedita tempore ex delectus. Pariatur error blanditiis dolore
      maiores repellat!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet officia
      optio repudiandae iste inventore, illum eum nam animi libero quas
      laudantium repellat architecto id deserunt voluptatem eaque corrupti?
      Laborum, pariatur?
    </p>
  </body>
</html>
