{% extends "./layout/layout.html" %} {% block maincontent %}

<div class="container">
  <form method="POST" class="col-lg-5 mx-auto p-4 m-4 shadow rounded">
    <h1 class="display-6">Add Student Here</h1>
    <hr />

    {% if message %}
    <p class="alert alert-success">{{message}}</p>
    {% endif %} {% if error %}
    <p class="alert alert-danger">{{error}}</p>
    {% endif %}

    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input required type="email" name="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input required type="text" name="firstName" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input required type="text" name="lastName" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Age</label>
      <input required type="number" name="age" class="form-control" />
    </div>

    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endblock %}
